<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="48425ShipwreckSoftware.BestCalculator" Publisher="CN=9A3276B6-661B-463D-9598-EFFF0974120A" Version="2.1.0.2" />
  <Properties>
    <DisplayName>Best Calculator</DisplayName>
    <PublisherDisplayName>Shipwreck Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdvancedCalculator.App">
      <m2:VisualElements DisplayName="Best Calculator from Shipwreck Software" Description="Designed for tablets, handles simple tasks easily but includes advanced solvers for Enginering, Science, and Finance." BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="Best Calculator" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>