################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedCalculatorUniversal/obj/x64/Debug
/BluetoothCalculatorUniversal/obj/x64/Debug
/.vs/AdvancedCalculatorUniversal
